/.idea/.gitignore
/.idea/description.html
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/project-template.xml
/.idea/uiDesigner.xml
/antiDublicator.iml
/out/production/antiDublicator/com/company/antiDublicator$1.class
/out/production/antiDublicator/com/company/antiDublicator.class
/out/production/antiDublicator/com/company/MapOfFiles.class
